@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700|Montserrat:300,400|Playfair+Display:400,700');
@import url(http://allfont.ru/allfont.css?fonts=scriptina);
/*

FONTS

font-family: 'Alegreya', serif;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Scriptina', arial;
 */
body {
  min-width: 1170px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1260px;
  margin: auto;
}
.main-nav {
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  margin-right: 80px;
  padding-top: 24px;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__link {
  color: #ffffff;
}
.page-preview {
  min-height: 898px;
  margin-top: -70px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/page-preview-bg-shadow.png"), url("../img/page-preview-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center, center;
}
.page-preview__heading {
  margin: 0;
  margin-bottom: 130px;
  padding-top: 286px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 92px;
  line-height: 96px;
  letter-spacing: 6px;
}
.page-preview__description {
  max-width: 577px;
  margin: auto;
  margin-bottom: 69px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 1.6px;
}
.page-preview__link {
  display: inline-block;
  padding: 21px 51px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  vertical-align: baseline;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.page-preview__link:hover {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.page-preview__link:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.page-preview__link:focus {
  background-color: rgba(0, 0, 0, 0.7);
}
.page-header {
  position: relative;
  min-height: 70px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__item {
  margin-right: 28px;
  padding-top: 24px;
}
.social__link svg {
  fill: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.social__link:hover svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.social__link:focus svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.logo {
  margin-top: 12px;
}
.about-cakes {
  min-height: 760px;
  background-image: url("../img/about-cakes-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-cakes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-cakes__text-content,
.about-cakes__img-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}
.about-cakes__text-content {
  padding: 0 64px;
  text-align: center;
}
.about-cakes__heading {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 16px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 2px;
  color: #56534c;
}
.about-cakes__subheading {
  margin-bottom: 67px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #a47d5e;
}
.about-cakes__text {
  margin-bottom: 45px;
  color: #56534c;
}
.about-cakes__img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 10px;
  padding-top: 110px;
}
.about-cakes__img {
  margin-bottom: 20px;
}
.about-cakes__lead {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 79px 10px 0 10px;
  margin: 0;
  width: 247px;
  height: 247px;
  background-image: url("../img/about-cake-img-lead-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #c9b176;
}
.chef-cook__heading {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.chef-cook__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-family: "Alegreya", serif;
  font-size: 24px;
  line-height: 30px;
}
.chef-cook__f-name {
  padding: 21px;
  margin-right: 20px;
  border-top: 1px solid #56534c;
  border-bottom: 1px solid #56534c;
}
.chef-cook__l-name {
  padding: 21px;
  margin-left: 20px;
  border-top: 1px solid #56534c;
  border-bottom: 1px solid #56534c;
}
.chef-cook__avatar {
  border: 5px solid #ffffff;
  border-radius: 50%;
}
.chef-cook__quote {
  position: relative;
  margin: 0;
  padding: 0 130px;
  font-family: "Scriptina", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #a47d5e;
}
.chef-cook__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100px;
  width: 24px;
  height: 14px;
  background-image: url("../img/quote-top.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.chef-cook__quote::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 24px;
  height: 14px;
  background-image: url("../img/quote-bottom.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slider {
  min-height: 760px;
  background-image: url("../img/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider__wrapper {
  position: relative;
}
.slider__thumbnail {
  position: absolute;
  bottom: 21%;
  right: 18%;
}
.dish-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 94px;
  padding-top: 142px;
  padding-bottom: 150px;
}
.dish-cart__img-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 420px;
  overflow: hidden;
}
.dish-cart__img {
  max-width: none;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dish-cart__text-content {
  position: relative;
  padding: 0 80px 142px 60px;
  width: 546px;
  background-color: #ffffff;
  background-image: url("../img/dish-cart-bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
.dish-cart__heading {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 16px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 2px;
  color: #56534c;
}
.dish-cart__subheading {
  margin-bottom: 67px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #a47d5e;
}
.dish-cart__description {
  letter-spacing: 1px;
}
.dish-cart__prep-info {
  position: absolute;
  top: -42px;
  right: -105px;
}
.prep-info {
  margin: 0;
  padding: 0;
}
.prep-info__img-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 25px;
  right: 0;
  width: 820px;
  height: 536px;
  z-index: 0;
  border: 10px solid #ffffff;
}
.prep-info__img {
  width: 100%;
  height: 100%;
}
.prep-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
}
.prep-info__sub-list {
  padding: 0;
  list-style: none;
}
.prep-info__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 200px;
  padding: 34px 51px;
  text-align: center;
  font-family: "Alegreya", serif;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
}
.prep-info__item--ready-time {
  background-image: url("../img/prep-time-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.prep-info__name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}
.prep-info__value {
  font-size: 92px;
  line-height: 90px;
  letter-spacing: 2px;
}
.prep-info__unit {
  text-transform: lowercase;
}
.thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.thumbnail__item {
  width: 90px;
  height: 90px;
  margin-right: 30px;
}
.thumbnail__previous-button,
.thumbnail__next-button {
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 0;
  border-radius: 50%;
  border: 2px solid #d9bda5;
  background-color: transparent;
}
.thumbnail__previous-button:hover,
.thumbnail__next-button:hover {
  border: 2px solid #56534c;
}
.thumbnail__previous-button:hover::before,
.thumbnail__next-button:hover::before {
  border-color: #56534c;
}
.thumbnail__previous-button {
  top: 25px;
  left: -50px;
}
.thumbnail__previous-button::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 9px;
  left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 2px solid #d9bda5;
  border-bottom: 2px solid #d9bda5;
}
.thumbnail__next-button {
  top: 25px;
  right: -20px;
}
.thumbnail__next-button::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 9px;
  right: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-right: 2px solid #d9bda5;
  border-bottom: 2px solid #d9bda5;
}
.breakfest-menu {
  min-height: 760px;
  background-image: url("../img/breakfest-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.breakfest-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0 70px 0;
}
.breakfest-menu__main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  text-align: center;
}
.breakfest-menu__special {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 440px;
  margin-left: auto;
}
.breakfest-menu__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 2px;
  color: #ffffff;
}
.breakfest-menu__subheading {
  margin-bottom: 67px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #c8a593;
}
.breakfest-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.special-offer {
  position: relative;
  margin: 0;
  padding: 53px 53px 70px 53px;
  text-align: center;
  background-color: #f3f1e9;
}
.special-offer::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #9e9c93;
  -webkit-transform: scale(0.95, 0.965);
          transform: scale(0.95, 0.965);
}
.special-offer__est-date {
  margin-bottom: 147px;
  padding-left: 49px;
  font-family: "Alegreya", serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  color: #56534c;
  word-spacing: 174px;
  letter-spacing: 1px;
  text-align: left;
}
.special-offer__lead {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Alegreya", serif;
  font-size: 44px;
  line-height: 60px;
  color: #56534c;
  font-weight: bold;
}
.special-offer__description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
}
.special-offer__link {
  position: relative;
  padding: 19px 70px;
  z-index: 2;
  font-family: "Alegreya", serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #a47d5e;
  letter-spacing: 1px;
  font-weight: bold;
  border: 2px solid #9e9c93;
}
.special-offer__link:hover {
  color: #ffffff;
  background-color: #9e9c93;
}
.special-offer__link:active {
  opacity: 0.3;
}
.menu-offer {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-offer__name {
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}
.menu-offer__description {
  margin-bottom: 24px;
  color: #b9b6b3;
}
.menu-offer__price {
  margin-bottom: 54px;
  font-family: "Alegreya", serif;
  font-size: 36px;
  line-height: 36px;
  color: #dfc691;
}
.breakfest-menu__item:last-child .menu-offer__price {
  margin-bottom: 0;
}
.about-sandwich {
  text-align: center;
  background-color: #f3f1e9;
}
.about-sandwich__wrapper {
  padding: 100px 0;
}
.about-sandwich__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.about-sandwich__ingredients {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -50px;
  width: 25%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.about-sandwich__prep-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.about-sandwich__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 2px;
  color: #56534c;
}
.about-sandwich__subheading {
  margin-bottom: 67px;
  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #a47d5e;
}
.about-sandwich__container {
  margin-top: 538px;
  margin-left: 103px;
  z-index: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.about-sandwich__link {
  position: relative;
  padding: 24px 29px;
  z-index: 2;
  font-family: "Alegreya", serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #dfc691;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px dashed #dfc691;
}
.about-sandwich__link:hover {
  color: #ffffff;
  background-color: #dfc691;
}
.about-sandwich__link:active {
  opacity: 0.3;
}
.ingredients__heading {
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #a47d5e;
}
.ingredients__description {
  line-height: 20px;
}
.page-footer {
  background-color: #f3f1e9;
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__logo {
  margin-top: 20px;
}
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 41%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid #c2beba;
  border-bottom: 2px solid #c2beba;
}
.page-footer__wrapper {
  padding: 70px 0;
}
.footer-nav__item {
  padding: 30px;
}
.footer-nav__link {
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #56534c;
}
