.dish-cart {
  display: flex;

  margin-left: 94px;
  padding-top: 142px;
  padding-bottom: 100px;
}

.dish-cart__img-block {
  box-sizing: border-box;

  width: 420px;

  overflow: hidden;
}

.dish-cart__img {
  max-width: none;
  height: 100%;
  object-fit: cover;
}

.dish-cart__text-content {
  box-sizing: border-box;

  position: relative;
  padding: 87px 80px 142px 63px;
  width: 547px;

  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/dish-cart-bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.dish-cart__heading {
  margin: 0;
  margin-bottom: 16px;

  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 48px;
  color: #56534c;
  letter-spacing: 1px;
}

.dish-cart__subheading {
  margin: 0;
  margin-bottom: 50px;

  font-family: "Alegreya", serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #a47d5e;
  letter-spacing: 1.5px;
}

.dish-cart__description {
  font-size: 13px;
  letter-spacing: 1px;
}

.dish-cart__prep-info {
  position: absolute;
  top: -42px;
  right: -105px;
}
