.main-nav {
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.main-nav__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  margin-right: 80px;
  padding-top: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  color: rgba(255, 255, 255, 1);
}
