.menu-offer {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-offer__name {
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.menu-offer__description {
  margin-bottom: 24px;

  color: #b9b6b3;
}

.menu-offer__price {
  margin-bottom: 54px;

  font-family: "Alegreya", serif;
  font-size: 36px;
  line-height: 36px;
  color: #dfc691;
}

.breakfest-menu__item:last-child .menu-offer__price {
  margin-bottom: 0;
}
