.page-preview {
  min-height: 898px;
  margin-top: -70px;

  color: rgba(255, 255, 255, 1);
  text-align: center;

  background-image: url("../img/page-preview-bg-shadow.png"),  url("../img/page-preview-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center, center;

}

.page-preview__heading {
  margin: 0;
  margin-bottom: 130px;
  padding-top: 286px;

  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 92px;
  line-height: 96px;
  letter-spacing: 6px;
}

.page-preview__description {
  max-width: 577px;
  margin: auto;
  margin-bottom: 69px;

  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 1.6px;
}

.page-preview__link {
  display: inline-block;

  padding: 21px 51px;

  font-family: 'Alegreya', serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 1.6px;
  vertical-align: baseline;

  background-color: rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
